---
import logos from '../images/framework-logos.png'
import logosSmall from '../images/framework-logos-small.png'
export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}
const { heading = "Welcome To The Astro Crash Course!", text="Build super fast HTML-first websites using your favorite JavaScript frameworks", showExtra = false } = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-text">
    <h1>{heading}</h1>
    <p>
      {text}
    </p>
  </div>

  {showExtra && <>
    <div class="showcase-img">
    <img class="logos" src={logos} alt="" usemap="#workmap"/>

    <map name="workmap">
      <area shape="rect" coords="8.5,0,82.5,100" href="https://www.solidjs.com/" alt="" />  
      <area shape="rect" coords="82.5,0,156.5,100" href="https://reactjs.org/" alt="" />  
      <area shape="rect" coords="156.5,0,230.5,100" href="https://preactjs.com/" alt="" />  
      <area shape="rect" coords="230.5,0,304.5,100" href="https://svelte.dev/" alt="" />  
      <area shape="rect" coords="304.5,0,378.5,100" href="https://vuejs.org/" alt="" />  
      <area shape="rect" coords="378.5,0,452.5,100" href="https://lit.dev/" alt="" />  
      <area shape="rect" coords="452.5,0,521.5,100" href="https://alpinejs.dev/" alt="" />  
      <area shape="rect" coords="521.5,0,590.5,100" href="https://tailwindcss.com/" alt="" />  
      <area shape="rect" coords="590.5,0,664.5,100" href="https://sass-lang.com/" alt="" />  
      <area shape="rect" coords="664.5,0,738.5,100" href="https://www.typescriptlang.org/" alt="" />  
      <area shape="rect" coords="738.5,0,812.5,100" href="https://www.markdownguide.org/" alt="" />  
      <area shape="rect" coords="812.5,0,886.5,100" href="https://mdxjs.com/" alt="" />  
    </map>

    <img class="logos-small" src={logosSmall} alt="" usemap="#workmapsmall" />

    <map name="workmapsmall">
      <area shape="rect" coords="0,0,75,100" href="https://reactjs.org/" alt="" />
      <area shape="rect" coords="75,0,150,100" href="https://svelte.dev/" alt="" />
      <area shape="rect" coords="150,0,225,100" href="https://vuejs.org/" alt="" />
      <area shape="rect" coords="225,0,300,100" href="https://tailwindcss.com/" alt="" />
    </map>
  </div>
  <p class="showcase-demo">
    <small>This is a demo website used for the Astro crash course from Traversy Media</small>
  </p>
  </>}
</section>

<style>
  .showcase {
  height: auto;
  background-color: var(--color-secondary);
  background-image: linear-gradient(to bottom, var(--color-primary), rgb(15 23 42 / 0));
  padding: 30px;
}
.showcase-blog {
  min-height: 300px;
}
.showcase-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}
.showcase h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.showcase p {
  font-size: 24px;
  margin-bottom: 20px;
}
.showcase-img {
  text-align: center;
}
.showcase-img img {
  border-radius: 10px;
  margin: auto;
}
.showcase-demo {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
</style>